<ion-content>
  <section id="container">
    <h1 class="title"><b>BUSCA MARVEL</b></h1>
    <h2 class="subtitle mobile"></h2>
    <div *ngIf="heroes.length === 0">
      {{loading}}
    </div>
    <div *ngIf="heroes.length > 0">
      <form>
        <label for="name">Nome do Personagem</label>
        <input type="text" id="nome" placeholder="Filtre por nome do personagem" [value]="name" (input)="name = $event.target.value">
        <button id="search" class="btn" type="button" (click)="findHeroes()">Buscar</button>
        {{name}}
      </form>
      <table>
        <thead>
          <tr>
            <th>Personagem</th>
            <th class="mobile">Séries</th>
            <th class="mobile">Eventos</th>
          </tr>
        </thead>
        <tbody id="list">
        </tbody>
      </table>
      <div id="controls">
        <div>
          <input type="button" id="first" value="Primeira Página" (click)="firstPage()" [disabled]="first" />
          <input type="button" id="previous" value="Página Anterior" (click)="previousPage()"  [disabled]="previous"  />
          <ul id="numbers">
          </ul>
          <input type="button" id="next" value="Próxima Pagina" (click)="nextPage()"  [disabled]="next" />
          <input type="button" id="last" value="Última Página" (click)="lastPage()"  [disabled]="last" />
        </div>
      </div>
    </div> 
  </section>
</ion-content>
